body {background-color: rgb(107, 107, 107);}

.mobile-menu {
    max-width:2%;
    height:auto;
}

.mobile-menu-exit {
    max-width:2%;
    height:auto;
}

.img-cta {
    max-width:3%;
    height:auto;
}