@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: rgb(115, 63, 85);
}

body, html{
    height: 100vh;
    color: white;
}

body{
    background-color: rgb(87, 40, 78);
    font-family: 'Poppins';
    margin: 0;
    display: grid;
    grid-template-columns: 100%; // single column
    //grid-template-rows: repeat(auto, 5); // 5 rows
    grid-template-rows: 8% 8% 8% 8% 60% 8%;
    grid-template-areas: 
    "header"
        "sect1"
        "sect2"
        "sect3"
        "main"
        "footer"
}

header{
    //background-color: rgb(12, 29, 56);    
    background-color: rgb(35, 61, 87);
    grid-area: header;
}

.header h1{
    font-size: 13px;
    text-align: center;          
}

section:nth-of-type(1){
    grid-area: sect1;
    //background-color: rgb(128, 210, 199);
    background-color: rgb(93, 143, 161);
}

section:nth-of-type(2){
    grid-area: sect2;
    //background-color: rgb(194, 228, 200);
    background-color: rgb(93, 143, 161);
}

section:nth-of-type(3){
    grid-area: sect3;
    background-color: rgb(93, 143, 161);
}

aside{ 
    background-color: rgb(115, 63, 85);
    grid-area: sidebar;
}

.aside-text{
    text-align: center; 
    font-size: 10px;  
}

footer{
    background-color: rgb(35, 61, 87);
    grid-area: footer;
}

.footer-text{
    text-align: center; 
    font-size: 10px;   
}

main{
    background-color: rgb(125, 86, 126);
    grid-area: main;
}

.main-text{
    text-align: center;    
}

@media only screen and (min-width:768px){
    body{
        margin: 0;
        display: grid;
        grid-template-columns: auto 10% 70% 10%;
        grid-template-rows: 8% 20% auto 6%;
        grid-template-areas: 
            "sidebar header header header"
            "sidebar sect1 sect2 sect3"
            "sidebar main main main"
            "sidebar footer footer footer";
    }    
}
